<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>
    <h1>NINJA GOLD!</h1>
    <h3>Your Gold: <span>{{request.session.gold}}</span></h3>
    <div class="container">
        <form class="building" action="/process/farm" value="farm">
            <h2>Farm</h2>
            <p>(earns 10 - 20 gold)</p>
            <button type="submit">Find Gold!</button> 
        </form>
        <form class="building" action="/process/cave" value="cave">
            <h2>Cave</h2>
            <p>(earns 5 - 10 gold)</p>
            <button type="submit">Find Gold!</button> 
        </form>
        <form class="building" action="/process/house" value="house">
            <h2>House</h2>
            <p>(earns 2 - 5 gold)</p>
            <button type="submit">Find Gold!</button> 
        </form>
        <form class="building" action="/process/casino" value="casino">
            <h2>Casino</h2>
            <p>(earns/loses 0 - 50 gold)</p>
            <button type="submit">Find Gold!</button> 
        </form>
    </div>
    <form id="reset" action="/reset">
        <button type="submit">Reset</button>
    </form>
    <div class="log">
        <p>Activity:</p>
        <ul>
            {% for activity in request.session.activity %}
                {% if "lost" in activity %}
                    <li style=color:red>{{activity}}</li>
                {% else %}
                    <li style=color:green>{{activity}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</body>
</html>